@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  /* Primary Colors */
  --color-primary: #F2F2F2;
  --color-secondary: #FAFAFA;
  --color-green:#3AB795;
  /* Text Colors */
  --text-color-primary: #FAFAFA;
  --text-color-secondary: #3AB795;
  --text-color-input: #9CA3AF;

  /* Border */
  --border-color: #EAEFEF;
  /* Border Radius */
  --border-radius-xl: 18px;

  /* Button */
  --button-bg: #3AB795;
  --button-hover-bg: #2F9E7D;

  /* Icon */
  --icon-color: gray;
  --icon-color-hover: #4B5563;
}


* {
  font-family: "Inter", sans-serif;
  scrollbar-width: thin;
 
}